@keyframes btnRecordColorCycle {
     0% {
       background-color: #31698a;
     }
     50% {
       background-color:#667d95;
     }
     100% {
       background-color: #003153;
     }
}

.btn_mic
{
    padding: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
    background: #31698a url('../images/mic.png') no-repeat center center;
    background-size: 40%;
    border-style: none;
    cursor: pointer;
    text-transform: none;
    border: 5px solid #ffffff;
}

.btn_mic:focus, .btn_mic:hover {
    background: #003153 url('../images/mic.png') no-repeat center center;
    background-size: 40%;
    border: 5px solid #ffffff;
}

.btnup {
    box-shadow: 1px 4px 0 0 #A69992;
    animation-name: none;
}

.btndown {
	box-shadow: none;
    margin-left: 1px;
    margin-right: -1px;
	margin-bottom: -4px;
	margin-top: 4px;
    animation-name: btnRecordColorCycle;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
}

@keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
